@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;

}

body {

    padding: 82px 24px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    background-color: #202020;

}

header {

    display: flex;
    flex-direction: column;
    gap: 4px;

}

header p {

    opacity: .8;

}

section {

    display: flex;
    flex-direction: column;
    gap: 18px;

}

section>h1 {

    font-weight: 300;

}

ul {

    display: flex;
    flex-direction: column;
    gap: 12px;

}

ul li {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    background-color: #252525;
    border-radius: 4px;
    transition: .4s;

}

ul li:hover {

    background-color: #282828;
    transform: translateX(12px);

}

ul li h1 {

    font-size: 18px;
    font-weight: 400;

}

ul li time {

    opacity: .6;

}

ul li button {

    min-width: 130px;
    background-color: #1eef98;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    opacity: .8;
    transition: .2s;
    text-decoration: none !important;

}

ul li button:hover {

    opacity: 1;

}

.closed-appointments h1 {

    opacity: .6;

}

.closed-appointments h1, .closed-appointments time {

    text-decoration: line-through;

}

.closed-appointments button {

    background-color: #ef1e6e;

}